# Ignore virtual environment files
env/
*.pyc
__pycache__/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/


# Ignore system files and logs
.DS_Store
Thumbs.db

# Ignore IDE settings and configurations (optional)
.vscode/
.idea/
